.catalog {
    padding: 72px 0 71px;
    text-align: center;
    @include r($sm) {
        padding: 54px 0 45px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 18px;
        gap: 0px 25px;
        @include r($md) {
            gap: 0px 15px;
        }
        @include r($sm) {
            gap: 0px 5px;
        }
    }

    &__item {
        margin-bottom: 30px;
        border: 1px solid rgba(17, 17, 17, 0.2);
        border-radius: 6px;
        transition-property: border;
        transition-duration: 0.4s;
        @include r($md) {
            margin-bottom: 15px;
        }
        @include r($sm) {
            max-width: 170px;
            margin-bottom: 5px;
        }
    

        &:hover {
            border: 1px solid $green-900;
        }
    }


}

.navigation-mix {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    &--mix {
        margin-bottom: 36px;
        @include r($sm) {
            margin-bottom: 15px;
        }
    }
    &__item {
        transition: color 0.4s;
        margin-bottom: 15px;
        @include r($sm) {
            margin-bottom: 11px;
        }
        &:not(:last-child) {
            margin-right: 24px;
            @include r($sm) {
                margin-right: 18px;
            }
        }

        &:hover {
            color: $green-900;
        }

    }

    &__btn {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.03em;
        transition: box-shadow 0.5s;
        @include r($sm) {
            font-size: 14px;
        }

        &:focus {
            box-shadow: 0 0 0 3px $green-200;
            border-radius: 3px;

        }

    }

}
.mixitup-control-active {
    border-bottom: 3px solid $green-200;
}
