.footer {

    &__top {
        padding: 32px 0 42px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        column-count: 3;
        column-gap: 74px;
    }

    &__logo {
        margin-bottom: 20px;
        display: inline-block;
    }

    &__list {
        break-after: column;
        margin-bottom: 30px;
    }

    &__form {
        max-width: 230px;
        width: 100%;
        margin-right: 150px;
    }

    &__item {
        max-width: 214px;
        width: 100%;
    }

    &__field {
        padding: 10px;
        border-radius: 6px 0 0 6px;
        max-width: 177px;

        &:focus {
            box-shadow: 0 0 0 3px $green-200;
        }

    }

    &__btn {
        padding: 12px 16px 12px;
        background-color: $green-900;
        position: absolute;
        transition: background-color, opacity;
        transition-duration: 0.5s, 0.7s;
        font-size: 12px;
        &:hover {
            background-color: #4D800C;
        }
    
        &:active {
            opacity: 0.7;
        }
    }


    p {
        font-size: 14px;
        line-height: 1;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__part {
        margin-bottom: 18px;
    }

    &__link {
        font-size: 14px;
        transition: color, opacity, box-shadow;
        transition-duration: 0.4s, 0.7s, 0.5s;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            box-shadow: 0 0 0 3px $green-100;
            border-radius: 3px;
        }

        &:active {
            color: $green-200;
        }
    }


}

.social {
    display: flex;

    &__link {
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 3px;
        transition: color, opacity, box-shadow;
        transition-duration: 0.4s, 0.7s, 0.5s;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:focus {
            box-shadow: 0 0 0 3px $green-200;
        } 
        &:hover {
            opacity: 0.7;
        }

       /* &:active {
            
        }*/

    }

}



.payment {
    border-top: 1px solid rgba(255, 255, 255, 1);

    &__inner {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-size: 14px;
        text-transform: uppercase;
    }
    &__info {
        display: flex;
    }

    &__item {
        &:first-child {
            background-image: url('../images/icon/icon-visa.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 93px;
            height: 29px;
            margin-right: 24px;
        }

        &:nth-child(2) {
            background-image: url('../images/icon/icon-master.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 45px;
            height: 29px;
        }
    }
}