.header-info {
    background-color: $dark-800;
    color: $white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.03em;

    &__list {
        display: flex;
        padding: 15px 0;
    }

    &__item:not(:last-child) {
        margin-right: 24px;
    }

    &__item {
        position: relative;
        flex-grow: 0;
    }

    &__item:nth-child(2) {
        flex-grow: 1;
    }

    &__link {
        color: inherit;
        transition: color, opacity;
        transition-duration: 0.4s, 0.7s;

        &--address {
            padding-left: 40px;
            margin-right: 25px;

            &::before {
                background-image: url('../images/icon/icon-car.svg');
                width: 32px;
                top: -2px;
            }
        }

        &--hotline {
            padding-left: 30px;

            &::before {
                background-image: url('../images/icon/icon-tel.svg');
                width: 21px;
                height: 21px;
            }
        }

        &--address,
        &--hotline {

            &::before {
                content: '';
                position: absolute;
                left: 0;
                background-size: contain;
                background-repeat: no-repeat;
                height: 21px;

            }
        }

        &:focus {
            box-shadow: 0 0 0 3px $white;
            border-radius: 3px;
        }

        &:hover {
            opacity: 0.7;
            transition: 0.6s;
        }

        &:active {
            color: $green-200;
        }

    }


}

.nav {
    padding: 25px 0 20px;
    background-color: $green-900;
    color: $white;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__catalog {
        color: $green-900;
        font-weight: 600;
        margin-right: 35px;
        padding: 15px 30px 15px 61px;
        font-size: 14px;
        letter-spacing: 0.03em;
        background-color: $white;
        border-radius: 6px;
        border: inherit;
        position: relative;
        transition: background-color 0.5s;

        &:before {
            content: '';
            position: absolute;
            background-image: url('../images/icon/nav_icon.svg');
            background-repeat: no-repeat;
            width: 25px;
            height: 17px;
            left: 18px;
            top: 16px;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icon/arrow-down.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 10px;
            height: 10px;
            right: 12px;
            top: 23px;
        }

        &:hover {
            background-color: $green-200;
            border-radius: 6px 6px 0px 0px;
        }
    }



    &__user {
        display: flex;

    }

    &__item {
        position: relative;
        width: 50px;
        height: 50px;
    }

    &__userbar {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(35%, -40%);
            padding: 10px;
            width: 50px;
            height: 50px;
            border-radius: 3px;
            transition: box-shadow, background-color, opacity;
            transition-duration: 0.5s, 0.6, 0.6s;
        }

        &--login {
            &::before {
                content: url('../images/icon/user.svg');
            }
        }

        &--favorite {
            &::before {
                content: url('../images/icon/favorite.svg');
            }
        }

        &--basket {
            &::before {
                content: url('../images/icon/basket.svg');
            }
        }

        &:focus::before {
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 3px $green-100;
        }

        &:hover::before {
            background-color: rgba(255, 255, 255, 0.1);
            opacity: 0.1s;
            transition: 0.6s;
        }

        &:active::before {
            background: rgba(255, 255, 255, 0.1);
        }

    }

    &__counter {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 10px;
        background-color: $white;
        color: $red-900;
        top: 0;
        left: 20px;
        font-size: 10px;
        padding: 2px 3px;
    }


    &__item:not(:last-child) {
        margin-right: 15px;
    }


}

.logo--header {
    margin-right: 20px;
}

.form {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 30px;

    &__label {
        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icon/search.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 30px;
            left: 13px;
            top: 12px;
        }
    }

    &__field {
        width: 576px;
        padding: 15px 200px 15px 51px;
        background-color: $white;
        border-radius: 6px;

        &::placeholder {
            font-size: 14px;
            color: $dark-800;
        }
    }

    &__btn {
        position: absolute;
        font-size: 14px;
        padding: 15px 50px;
        background-color: $dark-800;
        right: 0;
    }

    &__btn:hover,
    &__fild:hover {
        background-color: rgba(49, 53, 43, 0.85);
    }

    &__btn:focus,
    &__fild:focus {
        box-shadow: 0 0 0 4px rgba($green-200, 0.5);
    }

    &__btn:active {
        opacity: 0.7;
    }
}