.slider-brend {
    padding: 72px 0;
    @include r($sm) {
        padding: 40px 0 45px;
    }
    &__inner {
        display: flex;
    }

    &__images {
        object-fit: contain;
    }
  
    .slick-slider img {
       vertical-align: middle;
        margin: 0 auto;
        opacity: 0.5;
        transition: opacity 0.5s;
        &:hover {
            opacity: 1;
        }
    }
    .slick-slider .slick-track, .slick-slider .slick-list {
        display: flex;
        align-items: center;
    }
}