.main-slider {
    height: auto;
    &__list {
        position: relative;
    }

    &__inner {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 140px 0;
        height: auto;
    }

    &__item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 24px;
        border-radius: 4px;

        p {
            margin-bottom: 32px;
    
        }
    }

    &__title {
        max-width: 761px;
        width: 100%;
        font-size: 60px;
        font-family: 'Ruda', sans-serif;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
        color: $dark-500;
        margin-bottom: 12px;

        span {
            color: $red-900;
        }
    }

    &__btn {
        padding: 10px 20px;
        color: $white;
        background-color: $green-900;
        font-size: 18px;
        line-height: 1.3;
        border-radius: 6px;
        text-transform: none;
        transition: box-shadow 0.4s, background-color 0.5s;
        &:focus {
            box-shadow: 0 0 0 4px #E0EDCF;
        }
        &:hover {
            background-color: #4D810C;
        }
        &:active {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .slick-arrow {
        position: absolute;
        z-index: 5;
        font-size: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 6px;
        transition: background-color 0.5s, opacity 0.6s;
        &::before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 30px;
            top: 14px;
        }
       
    }

    .slick-prev {
        left: 60px;
        &::before {
            background-image: url('../images/icon/left-arrow.svg');
            right: 21px;
        }
    }

    .slick-next {
        right: 60px;
        &::before {
            background-image: url('../images/icon/right-arrow.svg');
            right: 21px;
        }
    }
  
    .slick-prev:focus,
    .slick-next:focus {
        box-shadow: 0 0 0 3px #63a60e80;
    }

    .slick-prev:hover {
        background-color: $green-200;
        &::before {
            background-image: url('../images/icon/left-arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            filter: invert(66%) sepia(41%) saturate(3524%) hue-rotate(46deg) brightness(87%) contrast(89%);
   
        }
    }
    .slick-next:hover {
        background-color: $green-200;
        &::before {
            background-image: url('../images/icon/right-arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            filter: invert(66%) sepia(41%) saturate(3524%) hue-rotate(46deg) brightness(87%) contrast(89%);
   
        }
    }
    .slick-prev:active {
        background-color: #F3F3F2;
        &::before {
            background-image: url('../images/icon/left-arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            filter: invert(66%) sepia(41%) saturate(3524%) hue-rotate(46deg) brightness(87%) contrast(89%);
   
        }
    }
    .slick-next:active {
        background-color: #F3F3F2;
        &::before {
            background-image: url('../images/icon/right-arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            filter: invert(66%) sepia(41%) saturate(3524%) hue-rotate(46deg) brightness(87%) contrast(89%);
   
        }
    }
}
.slick-slider {
    height: 595px;
}
//bebefits

.benefits {
    background-color: $silver-100;
    padding: 50px 0 30px;

    &__inner {
        display: flex;
        align-content: flex-end;
        justify-content: center;
        margin: 0 auto;
    }

    &__item {
        padding-left: 75px;
        position: relative;
        max-width: 264px;
        width: 100%;
        margin: 0 32px;
        font-weight: 600;
        color: $dark-900;
        &::before {
            content: '';
            position: absolute;
            width: 50px;
            height: 43px;
            left: 0;
        }

        &:first-child::before {
            background-image: url('../images/icon/icon-deliveri.svg');
        }

        &:nth-child(2)::before {
            background-image: url('../images/icon/icon-return.svg');
            height: 50px;
        }

        &:last-child::before {
            background-image: url('../images/icon/icon-hours.svg');
            height: 50px;
        }

        p {
            font-size: 14px;
        }
        
    }
    &__title {
        font-size: 16px;
        margin-bottom: 7px;
    }
   
}