.stock-card {
    padding: 72px 0;
    background-color: $silver-200;
    text-align: center;

    @include r($sm) {
        padding: 48px 0;
    }

    .navigation-mix {
        &__item {
            &:not(:last-child) {
                margin-right: 30px ;
            }
        }
    }
    &__inner {
        display: flex;
        gap: 0px 30px;
        flex-wrap: wrap;
        margin-bottom: 18px;
        justify-content: center;
    }
    &__item {
        border: 1px solid $silver-600;
        border-radius: 6px;
        background-color: $white;
        margin-bottom: 30px;
        max-width: 300px;
        width: 100%;
        transition: border 0.4s;
        @include r($sm) {
            margin-bottom: 15px;
        }
        &:hover {
            border: 1px solid $green-900;
        }
    }
 
    .product-card {
        padding: 13px 12px 4px;
        &__caption {
            margin: 0px -5px 4px;
            padding: 0 8px 0 13px;
            width: 100%;
        }
        &__content {
            display: flex;
            align-items: flex-end;
           
        }
        &__subtitle {
            flex-grow: 1;
            @include r($md) {
                max-width: 164px;
                width: 100%;
                margin-bottom: 0;
            }
        }
        &__link {
            margin-bottom: 0;
            max-width: 100px;
            width: 100%;
            &::after,
            &::before {
                display: none;
            }
        }
        &__images {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            @include r($sm) {
                width: 100px;
                height: 75px;
            } 
        }
       
        &__badges {
            top: 6px;
            left: 12px;
            z-index: 6;
        }
        &__price {
            align-items: end; 
            display: flex;
        }
        &__box {
          font-weight: 600;
          font-size: 20px;
          &--old {
            font-size: 12px;
            font-weight: normal;
            margin-left: 12px;
            order: 1;
        }
        span {
            font-size: 14px;
        }
        }
        
        &__availability {
            text-align: left;
            margin-bottom: 5px;
        }
   
    }
    .rating {
        font-weight: bold;
        font-size: 14px;
        padding-right: 20px;
        width: 38px;
        height: 16px;
        margin-bottom: 3px;
        position: relative;
    
        &::before {
            content: '';
            position: absolute;
            background-image: url('../images/icon/reiting-icon.svg');
            background-image: url(../images/icon/reiting-icon.svg);
            width: 16px;
            height: 15px;
            right: -2px;
            bottom: 0px;
        }
    }
    .button--green {
        @include r($md) {
            font-size: 18px;
        }
    }
}

