<section class="benefits">
    <div class="container">
        <h2 class="sr-only">преимущества магазина</h2>
        <ul class="benefits__inner">
            <li class="benefits__item">
                <h3 class="benefits__title">Бесплатная доставка</h3>
                <p>Для заказов на сумму от 500 ₽</p>
            </li>
            <li class="benefits__item ">
                <h3 class="benefits__title">Возврат товара</h3>
                <p>Если товары были испорчены</p>
            </li>
            <li class="benefits__item">
                <h3 class="benefits__title">Поддержка 24/7</h3>
                <p>Лучшие операторы</p>
            </li>
        </ul>
    </div>
</section>