<section class="catalog">
    <div class="container">
        <h2 class="catalog__title title">топовые товары</h2>
        <div data-ref="navigation-mix__card">
            <ul class="navigation-mix navigation-mix--mix">
                <li class="navigation-mix__item">
                    <button class="navigation-mix__btn" type="button" data-filter="all">все товары</button>
                </li>
                <li class="navigation-mix__item">
                    <button class="navigation-mix__btn" type="button"
                        data-filter=".category-a">фрукты</button>
                </li>
                <li class="navigation-mix__item">
                    <button class="navigation-mix__btn" type="button"
                        data-filter=".category-b">овощи</button>
                </li>
                <li class="navigation-mix__item">
                    <button class="navigation-mix__btn" type="button"
                        data-filter=".category-c">напитки</button>
                </li>
                <li class="navigation-mix__item">
                    <button class="navigation-mix__btn" type="button"
                        data-filter=".category-d">бакалея</button>
                </li>
            </ul>
            <ul class="catalog__inner">
                <li class="catalog__item mix category-a" data-order="1">
                    <article class="product-card">
                        <ul class="product-card__badges">
                            <li class="product-card__status">
                                <span class="product-card__discont product-card__discont--green">новинка </span>
                            </li>
                            <li class="product-card__status">
                                <span class="product-card__discont product-card__discont--red">-50%</span>
                            </li>
                        </ul>
                        <button class="product-card__favorite" type="button">
                            <span class="sr-only">добавить в избранное</span>
                        </button>
                        <div class="product-card__content">
                            <a class="product-card__link" href="#" target="_blank">
                                <img class="product-card__images" src="images/content/catalog-img1.jpg" width="300" height="225"
                                    alt="ананас">
                            </a>
                            <div class="product-card__caption">
                                <h3 class="product-card__subtitle">
                                    <a class="product-card__text" href="#">
                                        Ананас, 1кг
                                    </a>
                                </h3>
                                <div class="product-card__bottom">
                                    <ul class="product-card__price">
                                        <li class="product-card__box product-card__box--old">
                                            1999 <span> ₽</span>
                                        </li>
                                        <li class="product-card__box">
                                            999 <span> ₽</span>
                                        </li>
                                    </ul>
                                    <button class="product-card__basket" type="button">
                                        <span class="sr-only">добавить в корзину</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </article>
                </li>
                <li class="catalog__item mix category-a" data-order="2">
                    <article class="product-card">
                        <button class="product-card__favorite" type="button">
                            <span class="sr-only">добавить в избранное</span>
                        </button>
                        <div class="product-card__content">
                            <a class="product-card__link" href="#" target="_blank">
                                <img class="product-card__images" src="images/content/catalog-img2.jpg" width="300" height="225" alt="лимон">
                            </a>
                            <div class="product-card__caption">
                                <h3 class="product-card__subtitle">
                                    <a class="product-card__text" href="#"> Лимон, 1кг</a>
                                </h3>
                                <div class="product-card__bottom"> <ul class="product-card__price">
                                        <li class="product-card__box product-card__box--old">
                                           
                                        </li>
                                        <li class="product-card__box">
                                            199 <span> ₽</span>
                                        </li>
                                    </ul>
                                   
                                    <button class="product-card__basket" type="button">
                                        <span class="sr-only">добавить в корзину</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="catalog__item mix category-a" data-order="3">
                    <article class="product-card">
                        <ul class="product-card__badges">
                            <li class="product-card__status">
                                <span class="product-card__discont product-card__discont--orange">хит</span>
                            </li>
                        </ul>
                        <button class="product-card__favorite" type="button">
                            <span class="sr-only">добавить в избранное</span>
                        </button>
                        <div class="product-card__content">
                            <a class="product-card__link" href="#" target="_blank">
                                <img class="product-card__images" src="images/content/catalog-img3.jpg" width="300" height="225" alt="Питахайя">
                            </a>
                            <div class="product-card__caption">
                                <h3 class="product-card__subtitle">
                                    <a class="product-card__text" href="#">Питахайя красная с белой мякотью, 1шт</a>
                                </h3>
                                <div class="product-card__bottom">
                                 
                                    <ul class="product-card__price">
                                        <li class="product-card__box product-card__box--old"> </li>
                                        <li class="product-card__box">
                                            1019 <span> ₽</span>
                                        </li>
                                    </ul>
                                  
                                    <button class="product-card__basket" type="button">
                                        <span class="sr-only">добавить в корзину</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="catalog__item mix category-d" data-order="4">
                    <article class="product-card">
                        <ul class="product-card__badges">
                            <li class="product-card__status">
                                <span class="product-card__discont product-card__discont--orange">хит</span>
                            </li>
                        </ul>
                        <button class="product-card__favorite" type="button">
                            <span class="sr-only">добавить в избранное</span>
                        </button>
                        <div class="product-card__content">
                            <a class="product-card__link" href="#" target="_blank">
                                <img class="product-card__images" src="images/content/catalog-img4.jpg" width="300" height="225"
                                    alt="Кетчуп">
                            </a>
                            <div class="product-card__caption">
                                <h3 class="product-card__subtitle">
                                    <a class="product-card__text" href="#">
                                         Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
                                    </a>
                                </h3>
                                <div class="product-card__bottom">
                                 
                                    <ul class="product-card__price">
                                        <li class="product-card__box product-card__box--old"></li>
                                        <li class="product-card__box">
                                            600 <span> ₽</span>
                                        </li>
                                    </ul>
                                   
                                    <button class="product-card__basket" type="button">
                                        <span class="sr-only">добавить в корзину</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="catalog__item mix category-b" data-order="5">
                    <article class="product-card">
                        <ul class="product-card__badges">
                            <li class="product-card__status">
                                <span class="product-card__discont product-card__discont--orange">хит</span>
                            </li>
                        </ul>
                        <button class="product-card__favorite" type="button">
                            <span class="sr-only">добавить в избранное</span>
                        </button>
                        <div class="product-card__content">
                            <a class="product-card__link" href="#" target="_blank">
                                <img class="product-card__images" src="images/content/catalog-img5.jpg" width="300" height="225"
                                    alt="морковь">
                            </a>
                            <div class="product-card__caption">
                                <h3 class="product-card__subtitle">
                                    <a class="product-card__text" href="#">
                                        Морковь молодая с бабушкиной грядки, 1кг
                                    </a>
                                </h3>
                                <div class="product-card__bottom">
                                
                                    <ul class="product-card__price">
                                        <li class="product-card__box product-card__box--old">
                                           
                                        </li>
                                        <li class="product-card__box">
                                            49 <span> ₽</span>
                                        </li>
                                    </ul>
                                   
                                    <button class="product-card__basket" type="button">
                                        <span class="sr-only">добавить в корзину</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="catalog__item mix category-c" data-order="6">
                    <article class="product-card">
                        <ul class="product-card__badges">
                            <li class="product-card__status">
                                <span class="product-card__discont product-card__discont--red">-50%</span>
                            </li>
                        </ul>
                        <button class="product-card__favorite" type="button">
                            <span class="sr-only">добавить в избранное</span>
                        </button>
                        <div class="product-card__content">
                            <a class="product-card__link" href="#" target="_blank">
                                <img class="product-card__images" src="images/content/catalog-img6.jpg" width="300" height="225"
                                    alt="напиток">
                            </a>
                            <div class="product-card__caption">
                                <h3 class="product-card__subtitle">
                                    <a class="product-card__text" href="#"> Напиток сокосодержащий Sanpellegrino
                                    Aranciata
                                    Orange Красный апельсин безалкогольн...
                                </a>
                            </h3>
                                <div class="product-card__bottom">
                                  
                                    <ul class="product-card__price">
                                        <li class="product-card__box product-card__box--old">
                                           299 <span> ₽</span>
                                        </li>
                                        <li class="product-card__box">
                                            199 <span> ₽</span>
                                        </li>
                                    </ul>
                                    
                                    <button class="product-card__basket" type="button">
                                        <span class="sr-only">добавить в корзину</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="catalog__item mix category-d" data-order="7">
                    <article class="product-card">
                        <ul class="product-card__badges">
                            <li class="product-card__status">
                                <span class="product-card__discont product-card__discont--green">новинка</span>
                            </li>
                        </ul>
                        <button class="product-card__favorite" type="button">
                            <span class="sr-only">добавить в избранное</span>
                        </button>
                        <div class="product-card__content">
                            <a class="product-card__link" href="#" target="_blank">
                                <img class="product-card__images" src="images/content/catalog-img7.jpg" width="300" height="225"
                                    alt="кофе">
                            </a>
                            <div class="product-card__caption">
                                <h3 class="product-card__subtitle">
                                   <a class="product-card__text" href="#"> Кофе с коноплей органический Caffé Salomoni 250г </a>
                                </h3>
                                <div class="product-card__bottom">
                              
                                    <ul class="product-card__price">
                                        <li class="product-card__box product-card__box--old"></li>
                                        <li class="product-card__box">
                                            788 <span> ₽</span>
                                        </li>
                                    </ul>
                                    <button class="product-card__basket" type="button">
                                        <span class="sr-only">добавить в корзину</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="catalog__item mix category-b" data-order="8">
                    <article class="product-card">
                        <ul class="product-card__badges">
                            <li class="product-card__status">
                                <span class="product-card__discont product-card__discont--green">новинка</span>
                            </li>
                        </ul>
                        <button class="product-card__favorite" type="button">
                            <span class="sr-only">добавить в избранное</span>
                        </button>
                        <div class="product-card__content">
                            <a class="product-card__link" href="#" target="_blank">
                                <img class="product-card__images" src="images/content/catalog-img8.jpg" width="300" height="225"
                                    alt="кофе">
                            </a>
                            <div class="product-card__caption">
                                <h3 class="product-card__subtitle">
                                   <a class="product-card__text" href="#"> Перец оранжевый, 1кг </a>
                                </h3>
                                <div class="product-card__bottom">
                              
                                    <ul class="product-card__price">
                                        <li class="product-card__box product-card__box--old"></li>
                                        <li class="product-card__box">
                                            788 <span> ₽</span>
                                        </li>
                                    </ul>
                                    <button class="product-card__basket" type="button">
                                        <span class="sr-only">добавить в корзину</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
        <a class="button button--white" href="">Показать еще</a>
    </div>
</section>