<header class="header">
    <div class="header-info">
        <div class="container">
            <ul class="header-info__list">
                <li class="header-info__item">
                    <a class="header-info__link header-info__link--address "  href="#">адрес и время доставки</a>
                </li>
                <li class="header-info__item">
                    <a class="header-info__link header-info__link--hotline" href="#">горячая линия 24/7</a>
                </li>
                <li class="header-info__item">
                    <a class="header-info__link" href="#">доставка</a>
                </li>
                <li class="header-info__item">
                    <a class="header-info__link" href="#">о нас</a>
                </li>
                <li class="header-info__item">
                    <a class="header-info__link" href="#">новости</a>
                </li>
            </ul>
            <button  class="burger" type="button">
                <span class="burger__line"></span>
                <span class="sr-only">Мобильное меню</span>
            </button>
            <div class="mobail__icon">
                <button class="mobail__button" type="button">
                    <span class="sr-only">доставка товара</span>
                </button>
                <button class="mobail__button" type="button">
                    <span class="sr-only">горячая линия</span>
                </button>
            </div>
        </div>
    </div>

    <nav class="nav">
        <div class="container">
            <div class="nav__inner">
                <a class="logo header__logo" href="#">
                    <img class="header__logo-img" src="images/logo.svg" alt="логотип сайта" width="200" height="60">
                </a>
                <a class="logo-adaptiv" href="#">
                    <img class="header__logo-adaptiv" src="images/icon/logo-adaptiv.svg" alt="логотип сайта" width="36" height="39">
                </a>
                <button class="nav__catalog" type="button">Каталог продуктов</button>

                <form class="form">
                    <label class="form__label">
                        <input class="form__field" type="search" name="search"
                            placeholder="Найти в магазине ..." required>
                    </label>
                    <button class="form__btn button" type="submit">поиск</button>
                </form>
                <ul class="nav__user">
                    <li class="nav__item">
                        <span class="sr-only">поиск товара</span>
                        <button class="nav__userbar nav__userbar--search" type="button"></button>
                    </li>
                    <li class="nav__item">
                        <span class="sr-only">кабинет пользователя</span>
                        <button class="nav__userbar nav__userbar--login" type="button"></button>
                    </li>
                    <li class="nav__item">
                        <span class="sr-only">любимые товары</span>
                        <button class="nav__userbar nav__userbar--favorite" type="button">
                            <span class="nav__counter">12</span>
                        </button>
                    </li>
                    <li class="nav__item">
                        <span class="sr-only">корзинас покупками</span>
                        <button class="nav__userbar nav__userbar--basket " type="button">
                            <span class="nav__counter">12</span>
                        </button>
                    </li>

                </ul>
            </div>
        </div>
        <div class="mobile-menu">
            <a class="logo header__logo" href="#">
                <img class="header__logo-img" src="images/icon/mobail-logo.svg" width="200" height="60" alt="логотип сайта">
            </a>
            <ul class="mobile-menu__account">
                <li class="mobile-menu__user mobile-menu__user--login">Вход</li>
                <li class="mobile-menu__user mobile-menu__user--registr">Регистрация</li>
            </ul>
            <button class="mobile-menu__catalog" type="button">Каталог продуктов</button>
            <address class="mobile-menu__info">
                <a class="mobile-menu__contact mobile-menu__contact--phone" href="tel:+7907288365">+7 907 288 365</a>
                <a class="mobile-menu__contact mobile-menu__contact--address" href="#">Санкт-Петербург, ул. Ленина, 1</a>
                <ul class="mobile-menu__social social">
                    <li class="social__item">
                        <a class="social__link social__link--active" href=""
                            style="background-image: url('images/icon/fb-mobail.svg');">
                            <span class="sr-only">фейсбук</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--active" href=""
                            style="background-image: url('images/icon/yutob-mobail.svg');">
                            <span class="sr-only">ютуб</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--active" href=""
                            style="background-image: url('images/icon/telegram-mobail.svg');">
                            <span class="sr-only">телеграм</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--active" href=""
                            style="background-image: url('images/icon/insta-mobail.svg');">
                            <span class="sr-only">инстаграм</span>
                        </a>
                    </li>
                </ul>
            </address>
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#">Доставка</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#">О нас</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#">Новости</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#">Контакты</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#">Акции</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#">Вакансии</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#">Отзывы</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#">Публичная оферта</a>
                </li>
            </ul>
            <div class="mobile-menu__btn"></div>
        </div>
    </nav> 
</header> 