      
            <section class="our-news">
                <div class="container">
                    <h2 class="title">наши новости</h2>
                    <div class="our-news__content">
                        <ul class="our-news__inner">
                            <li class="our-news__item">
                                <a class="our-news__link" href="#">
                                    <img class="our-news__img" src="images/content/news-img1.jpg" width="410" height="240" alt="фото с клубникой">
                                    <p class="our-news__text">Событие этого лета: распродажа сезонных фруктов в
                                        онлайн-маркете ФрешОК. Торопись, пока всё не разобрали!</p>
                                </a>
                                <time datetime="15.06" class="our-news__date">
                                    июнь
                                    <span>15</span>
                                </time>
                            </li>
                            <li class="our-news__item">
                                <a class="our-news__link" href="#">
                                    <img class="our-news__img" src="images/content/news-img2.jpg" width="410" height="240" alt="фото с клубникой">
                                    <p class="our-news__text">Шикарнейший выбор манго в нашем онлайн-маркете</p>
                                </a>
                                <time datetime="07.05" class="our-news__date">
                                    май
                                    <span>07</span>
                                </time>
                            </li>
                            <li class="our-news__item">
                                <a class="our-news__link" href="#">
                                    <img class="our-news__img" src="images/content/news-img3.jpg" width="410" height="240" alt="фото с клубникой">
                                    <p class="our-news__text">Всё, что вы хотели знать о папайя</p>
                                </a>
                                <time datetime="20.02" class="our-news__date">
                                    февраль
                                    <span>20</span>
                                </time>
                            </li>
                        </ul>
                        <a class="our-news__btn" href="#">все новости</a>
                    </div>
                </div>
            </section>