<section class="slider-brend">
    <div class="container">
        <h2 class="sr-only">
            реклама брендов
        </h2>
        <ul class="slider-brend__inner">
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/sprite.svg" width="80" height="60" alt="спрайт">
            </li>
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/pepper.svg" width="80" height="60" alt="пеппер">
            </li>
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/coca-cola.svg" width="80" height="60" alt="кока-кола">
            </li>
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/pepsi.svg" width="80" height="60" alt="пепси">
            </li>
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/redbull.svg" width="80" height="60" alt="редбулл">
            </li>
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/fanta.svg" width="80" height="60" alt="фанта">
            </li>
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/sprite.svg" width="80" height="60" alt="спрайт">
            </li>
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/pepper.svg" width="80" height="60" alt="пеппер">
            </li>
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/coca-cola.svg" width="80" height="60" alt="кока-кола">
            </li>
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/pepsi.svg" width="80" height="60" alt="пепси">
            </li>
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/redbull.svg"  width="80" height="60"alt="редбулл">
            </li>
            <li class="slider-brend__item">
                <img class="slider-brend__images" src="images/icon/fanta.svg" width="80" height="60" alt="фанта">
            </li>
           

        </ul>
    </div>
</section>